<div class="container">
  <div class="page-header">
    <b>CUSTOMERS</b>
  </div>
  <br>

  <div class="col-md-6">
    <a href="/customers/new" >
      <div class= "panel panel-default">
        <img src="add.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>ADD NEW</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-6">
    <a href="/customers/view" >
      <div class= "panel panel-default">
        <img src="add.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>ADD NEW</h4>
        </div>
      </div>
    </a>
  </div>

</div>
</div>
