<div class="container">

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/item_groups">Item_groups</a></li>
      <li class="active">Show</li>
    </ol>

  <br>

  <div class="wells">

    <p> <b> Name: </b> <%= @item_group.name %> </p>
    <p> <b> Parent ID: </b> <%= @item_group.parent_id %> </p>
    <p> <b> Description: </b> <%= @item_group.description %> </p>
   


<p>
  <a href="/item_groups" class="btn btn-success">New</a>
  </p>
    </div>

</div>