<div class="container">

  <br>

  <div class="col-md-4">
    <a href="/customers" alt="customers">
     <div class= "panel panel-default">
              <img src="customerr.png" class="img-responsive img">

       <div class="panel-title text-center">
       <h4>CUSTOMERS</h4>
         </div>
            </div>

  </a>
    </div>


  <div class="col-md-4">
    <a href="/suppliers" alt="suppliers">
      <div class= "panel panel-default">
        <img src="supplier.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>SUPPLIERS</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="/sales" alt="sales">
      <div class= "panel panel-default">
        <img src="sale.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>SALES</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="/purchases" alt="purchases">
      <div class= "panel panel-default">
        <img src="purchase.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>PURCHASE</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="/items" alt="items">
      <div class= "panel panel-default">
        <img src="item.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>ITEMS</h4>
        </div>
      </div>
    </a>
  </div>


  <div class="col-md-4">
    <a href="/item_groups" alt="item_groups">
      <div class= "panel panel-default">
        <img src="itemgroup.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>ITEM GROUPS</h4>
        </div>
      </div>
    </a>
  </div>


  <div class="col-md-4">
    <a href="/stocks" alt="stocks">
      <div class= "panel panel-default">
        <img src="stock.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>STOCKS</h4>
        </div>
      </div>
    </a>
  </div>


  <div class="col-md-4">
    <a href="/company_profiles" alt="company_profiles">
      <div class= "panel panel-default">
        <img src="companyprofile.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>COMPANY PROFILE</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="/users" alt="users">
      <div class= "panel panel-default">
        <img src="user.png" class="img-responsive img">
        <div class="panel-title text-center">
          <h4>USER PROFILE</h4>
        </div>
      </div>
    </a>
  </div>






  </div>