<div class="container">
<br>


        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/units">Units</a></li>
          <li><a href="/units/new">New</a></li>
          <li class="active">Show</li>
        </ol>

      
  <div class="wells">

    <p> <b> Name: </b> <%= @unit.name %> </p>

    <p> <b> Print Name: </b> <%= @unit.print_name %> </p>

<p>
  <a href="/units/new" class="btn btn-success">New</a>
  </p>
    </div>
</div>